
<div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <a
          [routerLink]="['/tasks',task.id]"
          [queryParams]="{'allowEdit':task.id === 3 ? '1':'0'}"
          [fragment]="'loading'"
          class="list-group-item"
          *ngFor="let task of tasks">
          {{ task.name }}
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <router-outlet></router-outlet>
      <!-- <app-singletask></app-singletask> -->
       <!-- <hr>  -->
       <!-- <app-edittask></app-edittask> -->
    
    </div>
  </div>